:root {
    --bs-primary: #248067;
    --bs-primary-rgb: 36, 128, 103;
    --bs-secondary: #a50704;
    --bs-secondary-rgb: 165, 7, 4;
}
body{
    font-family: 'Noto Sans TC',sans-serif;
}

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1{
    font-family: 'Noto Sans TC',sans-serif;
    text-transform: none;
}

.subheading{
    font-family: 'Noto Sans TC'sans-serif;
    text-transform: none;
}

a{
    color:darkred;
    text-decoration: none;
}

.imco{
    color:#495057;
    text-decoration: none;
}

.imco:hover{
    color: #bd5d38;
    text-decoration: none;
}

table{
    width: 100%;
}

th,td{
    text-align:left;
    border: 1px solid black;
}

th:nth-child(odd){
    color:#ffffff;
    background-color: #6c6c6c;
}

td:nth-child(odd){
    color:#ffffff;
    background-color: #6c6c6c;
}

