:root {
    --bs-primary: #207f06;
    --bs-primary-rgb: 32, 127, 6;
    --bs-secondary: #a50704;
    --bs-secondary-rgb: 165, 7, 4;
}
body{
    font-family: 'Noto Sans TC',sans-serif;
}

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1{
    font-family: 'Noto Sans TC',sans-serif;
    text-transform: none;
}

.subheading{
    font-family: 'Noto Sans TC'sans-serif;
    text-transform: none;
}

a{
    color:darkred;
    text-decoration: none;
}

.imco{
    color:#495057;
    text-decoration: none;
}

.imco:hover{
    color: #bd5d38;
    text-decoration: none;
}